.left-arrow {
    content: url("../assets/images/ui/arrow-right.png");
    background-size: contain;
    position: absolute;
    padding: 0;
    top: 50px;
    left: 50px;
    transition: 0.1s;
    opacity: 0.5;
    scale: -1 1;
}

.left-arrow:hover {
    transform: scale(1.25);
    border: 10px solid white;
    border-radius: 50px;
    opacity: 1;
}


.showcase-card {
    display: flex;
    margin: 25px;
    padding: 40px;
    width: 956px;
    height: 450px;
    border: 2px solid white;
    border-radius: 20px;
    box-sizing: border-box;
    transition: 0.25s;
    justify-content: center;
    font-family: quicksand, sans-serif;
    font-size: 16px;
    color: white;
    text-decoration: none;
    overflow: hidden;
}


.showcase-card:hover {
    /*border: 3px solid white;*/
    /*border-color: rgba(0,0,0,0);*/
    background: black;
    transform: scale(1.0);
    box-shadow: 0 0 40px 20px red; /* Glow effect on hover */
}

.showcase-card-container {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
}

.showcase-card-content {
    border: 1px;
    display: block;
    /*display: flex;*/
    /*flex-wrap: wrap;*/
    width: 100%;
    align-content: center;
    align-items: center;
    /*text-align: center;*/
    /*position: relative;*/
    /*top: 50%;*/
    /*left: 50%;*/
    /*transform: translate(-50%, -50%);*/
}


.made-with-tool {
    font-size: 30px;
    font-weight: bold;
    color: orange;
    text-decoration: none;
}

.made-with-tool::before {
    color: white;
    content: "Made With: ";
    text-decoration: none;
    font-size: 20px;
}


.showcase-img {
    position: relative; /* Position the child absolutely within the parent */
    top: 0; /* Align the top of the child with the top of the parent */
    left: 0; /* Align the left of the child with the left of the parent */
    width: 100%; /* Span 100% of the parent's width */
    height: 50%; /* Span 50% of the parent's height */
    background-size: cover;
    background-position: center;
    /*background-image: url("https://img.itch.zone/aW1nLzk0NDgxNzIucG5n/original/j54T8i.png");*/
}

#PyRock2D-img{
    background-image: url("https://img.itch.zone/aW1nLzE0Mzc5NDk4LnBuZw==/original/LLh%2FMk.png");
}