.left-arrow {
    content: url("../assets/images/ui/arrow-right.png");
    background-size: contain;
    position: absolute;
    padding: 0;
    top: 50px;
    left: 50px;
    transition: 0.1s;
    opacity: 0.5;
    scale: -1 1;
}

.left-arrow:hover {
    transform: scale(1.25);
    border: 10px solid white;
    border-radius: 50px;
    opacity: 1;
}