html, body, .sketch {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body{
    background-color: black;
}

.overlay {
    position: fixed;
    overflow: auto;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0); /* Semi-transparent white background */
    z-index: 1; /* Place the overlay above the canvas */
    color: white;
    padding: 0;
}

.center-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* This centers the element horizontally */
}

.heading {
    color: white;
    font-family: quicksand, sans-serif;
    font-size: 50px;
    font-weight: bold;
    padding: 20px
}

.color-cycle {
    animation: color-change 6s infinite;
    text-shadow:1px 1px 10px currentColor;
}

@keyframes color-change {
    0% {
        color: red;
    }
    25% {
        color: cyan;
    }
    50% {
        color: orange;
    }
    75% {
        color: #00FF00;
    }
    100% {
        color: red;
    }
}

.card {
    display: flex;
    margin: 15px;
    padding: 40px;
    width: 640px;
    height: 360px;
    /*background: rgb(11, 11, 11);*/
    backdrop-filter: blur(10px);
    border: 2px solid white;
    border-radius: 40px;
    box-sizing: border-box;
    transition: 0.25s;
    justify-content: center;
    font-family: quicksand, sans-serif;
    font-size: 20px;
    color: white;
    text-decoration: none;
    overflow: hidden;
}

.card::before {
    content: "";
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    opacity: 0.2;
    transition: 0.1s;
    background-repeat: no-repeat; /* Prevents the background image from repeating */
    background-position: center; /* Centers the background image */
}

.card:hover::before{
    opacity: 0.35;
}

#card1::before {
    background-image: url(assets/images/background/photo-1624953587687-daf255b6b80a.jpg);
}

#card2::before {
    /*background-image: url('https://placekitten.com/1200/800');*/
    background-image: url("assets/images/background/gamedev.jpeg");
}

#card3::before {
    background-image: url("assets/images/background/ytbg.jpg");
}

#card4::before{
    background-image: url("https://i.gifer.com/7sXy.gif");
    /*background-image: url("https://img.itch.zone/aW1hZ2UvMTExMzk4MC82NjMzNDU2LmdpZg==/original/XqJsVz.gif");*/
    /*background-image: url("https://img.itch.zone/aW1hZ2UvMTM2ODY0OS84MDQyNTU0LmdpZg==/original/CYZhZi.gif");*/
}

.card:hover {
    /*border-color: rgba(0,0,0,0);*/
    transform: scale(0.9);
    box-shadow: 0 0 40px 10px red; /* Glow effect on hover */
}

.card-heading {
    font-weight: bold;
    font-size: 40px;
    text-shadow:1px 1px 10px #fff;
}

.card-content {
    width: 75%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.click-card {
    content: url("assets/images/ui/arrow-right.png");
    position: relative;
    bottom: 20px;
    right: 20px;
    translate: 100% 50%;
    padding: 0;
    scale: 0.2;
    transition: 0.1s;
    opacity: 0.5;
}

.click-card:hover {
    transform: scale(1.25);
    border: 10px solid white;
    border-radius: 50px;
    opacity: 1;
}

.card-container {
    /* 2 cards per row */
    flex-wrap: wrap;
    transition: 0.4s;
}

.logo-nav ul {
    list-style: none;
    padding: 10px;
    margin: 0;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center; /* Center the links horizontally */
}

.logo {
    padding: 5px;
    width: 32px;
    height: auto;
    transition: all .2s ease-in-out;
}

.logo:hover {
    transform: scale(1.25);
    filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.8));
    /*background-color: rgba(255, 255, 255, 0.1);*/
    /*border-radius: 10px;*/
}
